name: Rust

on:
  push:
    branches: [ OwO ]
  pull_request:
    branches: [ OwO ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build static
      uses:  stevenleadbeater/rust-musl-builder@master
      with:
        args: /bin/bash -c "cargo build --release --target=x86_64-unknown-linux-musl"
    - uses: actions/upload-artifact@v2
      with:
        name: minibus
        path: target/release/minibus
